/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to top right, #84cc16, #a3e635, #38a169);
  background-repeat: no-repeat;
}

h1, h2, h3, h4 {
  font-family: 'Black Ops One', sans-serif;
}

p {
  font-family: 'Passion One', sans-serif;
}
button {
  font-family: 'Passion One', sans-serif;
}